* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    display: flex;
    flex: 1;
}

main article {
    background-color: rgb(14, 250, 238);
    flex: 2;
}

main aside {
    background-color: rgb(255, 238, 0);
    flex: 1;
}

main nav {
    background-color: aquamarine;
    flex: 1;
}

header, footer {
    background-color: rgb(4, 255, 117);
    padding: 1rem;
}